In [1]:
# The code was removed by Watson Studio for sharing.

Waiting for a Spark session to start...
Spark Initialization Done! ApplicationId = app-20181206200244-0005
KERNEL_ID = bb20c025-f4fe-4a73-a40e-f7cf29bb59e7

,Cool,Date,Funny,Stars,Text,Useful,User_ID
0,0.0,2015-05-21,1.0,2.0,this place is over priced bar food and i would...,0.0,cW_ugvCWQ5shvIULqKVUpw
1,1.0,2017-01-09,1.0,5.0,we went here for my mothers in law's birthday ...,1.0,cW_ugvCWQ5shvIULqKVUpw
2,0.0,2017-06-04,0.0,1.0,so excited to try this place and have another ...,0.0,cW_ugvCWQ5shvIULqKVUpw
3,0.0,2015-02-01,0.0,1.0,"if there were negative stars, i would rate thi...",2.0,cW_ugvCWQ5shvIULqKVUpw
4,0.0,2015-07-02,0.0,5.0,i love this place!! literally have never had a...,0.0,cW_ugvCWQ5shvIULqKVUpw

In [2]:

body = client_3c56f955febc4cee81883396cf4aa186.get_object(Bucket='mikemaldonado-donotdelete-pr-hpva0iyodocyil',Key='data_asset/positive_words.txt_shaped_l6BpkOJWT2KhEBo-wAPnMw.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_4 = pd.read_csv(body)
df_data_4.head()

           a+
0      abound
1     abounds
2   abundance
3    abundant
4  accessable

In [ ]:
keywords = set(df_data_4['a+'])
keywords.add('is')
df_data_4['Text'] = df_data_3['Text'].str.split()
matchedWords = [set()] * df_data_3.count()
for row in df_data_3.index:
    if row < 200:
        reviewSet = set(df_data_3.loc[row]['Text'])
        matchedWords[row].append(keywords.intersection(reviewSet))